.content{
  height: 100%;
  width: 100%;
  background-image: url(background_cabinete1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centered-text {
      text-align: center;
      margin-top: 10%;
      font-size: 30px;
    }

    #add-cabinet-button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    #add-cabinet-button button {
      background-color: green;
      color: white;
      font-size: 20px;
      padding: 15px 30px;
      border: none;
      cursor: pointer;
    }

    .cabinet-form {
        display: none;
        margin: 100px auto;
        max-width: 400px;
        padding: 40px;
        border: 3px solid black;
        text-align: center;
      }
  
      .cabinet-form h2 {
        font-size: 25px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
      }
  
      .cabinet-form .form-group {
        margin-bottom: 10px;
      }
  
      .cabinet-form .form-group label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      .cabinet-form .form-group input[type="text"],
      .cabinet-form .form-group input[type="number"] {
        width: 100%;
        padding: 8px;
      }
  
      .cabinet-form .form-group input[type="file"] {
        display: none;
      }
  
      .cabinet-form .form-group .file-input-label {
        display: inline-block;
        padding: 8px 16px;
        background-color: green;
        color: white;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
      }
  
      .cabinet-form .form-group .file-input-label:hover {
        background-color: darkgreen;
      }
  
      .cabinet-form .form-group .file-name {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
      }
  
      .cabinet-form button {
        margin-top: 10px;
        background-color: green;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }

      #cabinet-list {
        display: flex;
        flex-wrap: wrap;
      }
      
      .cabinet-box {
        width: 20%;
        padding: 20px;
        box-sizing: border-box;
        border: 5px solid black;
        border-radius: 10px;
        background-color: pink;
        margin: 30px 40px;
        display: flex;
      }
      
      .cabinet-box img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 20px;
      }
      
      .cabinet-details {
        display: flex;
        flex-direction: column;
      }
      
      .cabinet-name,
      .cabinet-floor {
        margin: 0;
      }