body {
    background-image: url(background_cabinete.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin-left: 30px;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
}

.content {
    height: 100%;
    width: 100%;

}

.centered-text {
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
}

#add-doctor-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#add-doctor-button button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#view-details {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit {
    margin-left: 10px;
    background-color: brown;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cabinet-form {
    display: none;
    margin: 100px auto;
    max-width: 400px;
    padding: 40px;
    border: 4px solid black;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.cabinet-form h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.cabinet-form .form-group {
    margin-bottom: 10px;
}

.cabinet-form .form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.cabinet-form .form-group input[type="text"],
.cabinet-form .form-group input[type="number"],
.cabinet-form .form-group input[type="email"] {
    width: 100%;
    padding: 8px;
}

.cabinet-form .form-group input[type="file"] {
    display: none;
}

.cabinet-form .form-group .file-input-label {
    display: inline-block;
    padding: 8px 16px;
    background-color: green;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.cabinet-form .form-group .file-input-label:hover {
    background-color: darkgreen;
}

.cabinet-form .form-group .file-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}

.add-btn {
    margin-top: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.back-btn {
    margin-top: 10px;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*Doctor*/
.doctor-card {
    width: 95.4%;
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 40px;
    border-bottom: 3px solid black;
    border-top: none;
}

.doctor-card:first-child {
    height: 90px;
    width: 95.4%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 40px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.doctor-card img {
    width: 100px;
    height: 100%;
    margin-right: 40px;
}

.doctor-details {
    display: flex;
}



.doctor-id {
    padding-right: 10px;
    padding-left: 20px;
}

.doctor-name {
    padding-right: 20px;
    padding-left: 20px;
}

.doctor-email {
    padding-right: 20px;
    padding-left: 20px;
}

.doctor-phone {
    padding-right: 20px;
    padding-left: 20px;
}

.doctor-specializari {
    padding-right: 20px;
    padding-left: 20px;
}

.doctor-cabinete {
    padding-right: 20px;
    padding-left: 20px;
}

.doctor-details p {
    font-size: 20px;
    margin-right: 10px;
}

.doctor-details p:last-child {
    border-right: none;
}

.doctor-choose {
    font-size: 15px;
    width: 100%;
    padding: 2.5%;
}